<o-form-layout-manager attr="WalkSchedule" mode="tab" title="WALKSCHEDULE">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="WalkScheduleTable" 
            service="WalkSchedule" 
            entity="WalkSchedule" 
            title="WALKSCHEDULE"
            keys="id"
            columns="id;dog_id;walk_id;start_date;start_time" 
            header-actions="R;D"
            visible-columns="id;dog_id;walk_id;start_date;start_time"  
            sort-columns="id" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column attr="dog_id" title="dog_id">
    <o-table-cell-renderer-service attr="dog_id" 
        service="Dog" entity="DogType" columns="id;name"
        parent-keys="id:dog_id"
        value-column="name" keys="dog_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column attr="walk_id" title="walk_id">
    <o-table-cell-renderer-service attr="walk_id" 
        service="Walk" entity="WalkType" columns="id;id"
        parent-keys="id:walk_id"
        value-column="id" keys="walk_id"
        visible-columns="id" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-date-input #start_date attr="start_date" type="timestamp" label="start_date" editable="no" required="yes" format="LL" fxFlex="20%" class="form-field"></o-date-input>
            
            <o-table-column #start_time attr="start_time" title="start_time" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>